@media (max-width: 800px) {
  .sd-background {
    height: 950px;
    background-color: rgb(200, 207, 207);
    max-width: 428px;
  }
  .sd-container {
    background: linear-gradient(
      95deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(42, 197, 182, 1) 100%
    );
    height: 774px;
    margin-top: 0%;
  }

  .sd-sound {
    margin-left: 20%;
    width: 260px;
    height: 350px;
    padding-top: 50px;
  }

  .sd-image {
    position: static;
    height: 465px;
    margin-top: -8.5%;
    margin-left: -120px;
    padding-top: 80px;
    min-width: 650px;
  }

  .sd-title {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-left: 12%;
    margin-top: -130px;
  }

  .sd-title2 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-left: 25%;
    margin-top: -20px;
  }

  .sd-images2 {
    padding-top: 20px;
  }
  .sd-title-container {
    margin-top: 20%;
  }
}
